@font-face {
    font-family: 'TacckFont';
    font-style: normal;
    font-display: block;
    src: url("/fonts/tacckfont.woff2") format('woff2');
}

.tacck-font {
    font-family: 'TacckFont';
    font-style: normal;
}
